* {
    background: #f8f8ff;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
}

.links {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: 100px;
    align-items: center;
}

.linkBtn {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background: rosybrown;
    color: ghostwhite;
    font-size: 20px;
}

.linkBtn:hover {
    box-shadow: darkred 5px 5px 5px;
}