* {
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif'; ;
}

.navigationButtons {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-top: 25px;
}

.naviBtn {
    width: 200px;
    height: 50px;
    background: linear-gradient(#fff0f0, #ffffff);
    font-size: 25px;
    border-radius: 25px;
    color: black;
}
